.d_flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.outer_container{
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d_flex{
    display: flex;
}
.container{
    height: 100vh;
    max-width: 1200px;
    padding: 2rem;
}