@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Bebas Neue', cursive; */
:root{
    --pacific: #FC766AFF;
    --pacific__light: rgba(252, 118, 106, 0.671);
    --coast: #5B84B1FF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #F5F5F7;
}
main{
    max-width: 1200px; 
    margin: 0 auto;
    padding: 50px;
}
.container{
    margin: 1rem auto;
}
.main-nav{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    justify-content: space-between;
    position: sticky;
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid grey ;
    padding: 15px;
}
.nav_items{
    list-style: none;
    color: #FC766AFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.nav_items li{
    display: inline-block;
}
.nav_items li a{
    text-decoration: none;
    color: var(--pacific);
    font-size: medium;
}
/* hero */
@keyframes infiniteText {
    0%{
        left: 50%;
        bottom: 20;
    }
    50%{
        left: -100px;
        bottom: 20;
    }
    75%{
        right: -70%;
        bottom: 20;
    }
    100%{
        left: 50;
        bottom: 20;
    }
}
.h2bg{
    position: absolute;
    left: 50;
    bottom: 0px;
    transform: translate(-50%);
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    opacity: 30%;
    animation: infiniteText 15s infinite;
    z-index: -1;
}

.big-heading{
    font-size: 1rem;
}
.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-image{
    width: 250px;
    height: 250px;
    background-image: url(/Images/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hero > *{
    flex: 1;
}
/* Skill loader */
.skill_loader{
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 50px;
    padding: 30px;
    margin-top: 30px;
    backdrop-filter: blur(23px) saturate(169%);
    -webkit-backdrop-filter: blur(23px) saturate(169%);
    background-color: rgba(74, 144, 226, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: relative;
    overflow: hidden;
}
.skill_loader h3 span{
    color:var(--coast);
    font-weight: 900;
}
.skill{
    width: 500px;
    margin: 5px auto;
}
.filler{
    background: white;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 25.02%, #E188C3 50%, #A58DE3 75%);
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 20%;
    transition: width 2s linear;
}
.filler2,.filler3, .filler4{
    transition: width 2s linear;
}
.counter-parent{
    display: flex;
}
/* work */
.card {
    margin: 10px 0;
    width: 20vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(23px) saturate(169%);
    -webkit-backdrop-filter: blur(23px) saturate(169%);
    background-color: rgba(74, 145, 226, 0.247);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.top{
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.card1{
    background-image: url("/Images/simon-lee-9QbuKUPFaNI-unsplash.jpg");
}
.main-heading{
    padding: 12px 0;
}
.colored{
    color: var(--coast);
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.work_btn{
    padding: 10px;
    background: var(--coast);
    border-radius: 10px;
    color: black;
    border: none;

}
a{
    color: white;
    text-decoration: none;
}

.card-simple{
    width: 330px;
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2 2px 5px 0 rgba(12, 12, 12, 0.144);
}
.plus{
    font-size: 2rem;
    vertical-align: top;
    background:linear-gradient(135deg,#ffb077,#b82698);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.outer-nutshell{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.plus-parent{
    display: flex;
}
