@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
:root{
    --light_grey: #f4f4f4;
    --light_grey_header: #f4f4f498;
    --light_grey_underlined: #E3E3E3;
    --box_shadow:0 0px 15px 0 rgba(75, 75, 75, 0.164);
    --box_shadow_light:0 0px 15px 0 rgba(75, 75, 75, 0.164);
    --light_dark:#28293D;
    --light_dark_header:#28293da2;
    --dark_dark: #1C1C28;
    --white_text: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#well{
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}
/* NAVBAR */
.main_nav_bar{
    position: fixed;
    height: 61px;
    left: 0px;
    top: 0px;
    background: var(--light_grey_header);
    backdrop-filter: blur(4px);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.nav_links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
}
.logo, .nav_link{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
/* HERO SECTION */
.hero{
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}
.main_text_preheading{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.main_text_heading{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
}
.link{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    
}
.link_span{
    text-decoration-line: underline;
}
.fa-long-arrow-up{
    transform: rotate(45deg);
    font-size: 18px;
    font-weight: bold;
}

/* ABOUT ME */
.about_me{
    align-items: center;
    height: auto;
}
.main_section_heading{
    font-weight: bold;
font-size: 48px;
line-height: 56px;
padding: 20px 10px;
}
.small_heading{
    font-weight: bold;
font-size: 28px;
line-height: 33px;
}
.left, .right{
    flex: 1;
    width: 100%;
}
.inner_wrapper{
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
/* Card_design starts */
.card{
    width: 470px;
    height: 550px;
    background: var(--light_grey);
    border-radius: 10px;
    padding: 50px;
    gap: 40px;
    box-shadow: var(--box_shadow);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: url(/Images/v2.png);
    background-position: center;
    background-size: cover;
}
.card_text_para{
    font-size: 18px;
line-height: 21px;
text-align: center;
}
/* Card design ends here */
.underlined{
    width: 73px;
    height: 7px;
    background: #E3E3E3;
    border-radius: 10px;
    border: none;
}
.skill{
    margin: 10px 0px;
}

.filler{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light_grey);
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    color: rgb(14, 14, 14);
    width: 100%;
    transition: width 5s linear;
}
.filler2,.filler3, .filler4{
    transition: width 5s linear;
    animation: gradientFiller forwards 5s infinite;
}
.skills_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: flex-start;
}
.skill_loader_parent{
    width: 100%;
}
.experience{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.small_card_wrapper{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 30px;
}
.card_small{
    margin: 0;
    width: 200px;
    height: 145px;
    background: var(--light_grey);
    border-radius: 10px;
    text-align: center;
    justify-content: unset;
    box-shadow: var(--box_shadow);
}
.card_small_heading{
        font-weight: bold;
    font-size: 64px;
    line-height: 75px;
}
.plus{
    font-size: 30px;
    vertical-align: super;
}

/* FLOATING SETTINGS */
.floating{
    position: fixed;
    width: 70px;
    height: 70px;
    box-shadow: var(--box_shadow_light);
    background: var(--light_grey);
    left: 20px;
    bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-cogs{
    font-size: 30px;
}

.floating_settings{
    width: 150px;
    height: 80px;
    position: fixed;
    bottom: 100px;
    left: 20px;
    border-radius: 15px;
    box-shadow: var(--box_shadow_light);
    background: var(--light_grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.fas, .fad, .far{
    font-size: 30px;
}
.fa-adjust{
    color: royalblue;
}
.fas:hover, .fad:hover, .far:hover{
    cursor: pointer;
}
/* FLOATING WINDOW ENDS HERE */
.expanding_cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.expanding_card{
    height: 400px;
    width: 300px;
    background:var(--light_grey);
    border-radius: 20px;
    box-shadow: var(--box_shadow);
    overflow: hidden;
}
.expanding_card_text{
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}
.expanding_card_btn{
    background: var(--light_grey);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}
.img_container{
    height: 50%;
    background:rgb(233, 233, 233);
}
/* WORK CONTAINER STYLING STARTS HERE */
.work{
    height: auto;
}
/* .work{
    align-items: center;
    position: relative;
}
.img_container{
    height: 50%;
    background:rgb(233, 233, 233);
}
.expanding_card_wrapper{
    width: 50%;
}

.expanding_card_text{
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}
.expanding_card_btn{
    background: var(--light_grey);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}
.expanding_card2{
    left: 5%;
}
.expanding_card1:hover{
    z-index: 100;
}
.expanding_card2:hover{
    z-index: 100;
}
.expanding_card3{
    left: 10%;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.para_work{
    text-align: left;
} */
.displayed{
    display: none;
}