@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Bebas Neue', cursive; */
:root{
    --pacific: #FC766AFF;
    --pacific__light: rgba(252, 118, 106, 0.671);
    --coast: #5B84B1FF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #F5F5F7;
}
main{
  max-width: 1200px; 
    margin: 0 auto;
    padding: 50px;
}
.container{
    margin: 1rem auto;
}
h2{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 3rem;
    margin: 0;
    line-height: 2.7rem;
}
.main-nav{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    justify-content: space-between;
    position: sticky;
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid grey ;
    padding: 15px;
}
.nav_items{
    list-style: none;
    color: #FC766AFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.nav_items li{
    display: inline-block;
}
.nav_items li a{
    text-decoration: none;
    color: var(--pacific);
    font-size: medium;
}
/* hero */
.hero{
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center; 
}
.text p{
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
}
.big-heading{
    font-size: 4rem;
}
.main-image{
    width: 150px;
    height: 150px;
    background-image: url(/Images/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* Skill loader */
.skill_loader{
    height: 300px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 50px;
    padding: 30px;
    backdrop-filter: blur(23px) saturate(169%);
    -webkit-backdrop-filter: blur(23px) saturate(169%);
    background-color: rgba(74, 144, 226, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.skill_loader h3 span{
    color:var(--coast);
    font-weight: 900;
}
.skill{
    width: calc(40vw - 50px);
    margin: 5px 0px;
}
.filler{
    background: white;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 25.02%, #E188C3 50%, #A58DE3 75%);
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 20%;
    transition: width 2s linear;
}
.filler2,.filler3, .filler4{
    transition: width 2s linear;
}
.counter-parent{
    display: flex;
}
/* work */
.card {
    margin: 10px 0;
    width: 20vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(23px) saturate(169%);
    -webkit-backdrop-filter: blur(23px) saturate(169%);
    background-color: rgba(74, 145, 226, 0.247);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.top{
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.card1{
    background-image: url("/Images/simon-lee-9QbuKUPFaNI-unsplash.jpg");
}
.main-heading{
    padding: 12px 0;
}
.colored{
    color: var(--coast);
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.work_btn{
    padding: 10px;
    background: var(--coast);
    border-radius: 10px;
    color: black;
    border: none;

}
a{
    color: white;
    text-decoration: none;
}
